body{
background:#121212;
font-family:Arial;
color:white;
margin:0;
padding:0;
}

.auth-box,
.payment-box,
.dashboard-box{
width:350px;
margin:50px auto;
background:#1e1e1e;
padding:30px;
border-radius:15px;
}

input,
select,
button{
width:100%;
padding:14px;
margin-top:10px;
border:none;
border-radius:10px;
}

button{
background:#ff8c00;
color:white;
font-weight:bold;
cursor:pointer;
}

header{
background:#1a1a1a;
padding:20px;
display:flex;
justify-content:space-between;
}

a{
color:#ff8c00;
text-decoration:none;
}
